/* Nav */

/* Hero */
#hero {
    background-color: #000;
    background-image: url(../images/bg-abstract.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background: transparent;
}