/* Nav */

/* Hero */
#hero {
    background-color: #000;
    background-image: url(../images/bg-abstract.jpg);
    background-size: cover;
    background-position: bottom;
    /* height: calc(100vh - 150px); */
}

.jumbotron {
    background: transparent;
}

.mainNav {
    background: rgba(255, 255, 255, 0.8);
}