/* Nav */

/* Hero */
#hero {
    background-color: #000;
    background-image: url(../images/bg-abstract.jpg);
    background-size: cover;
    background-position: center;
}

.jumbotron {
    background: transparent;
}

/* My Work */
#work h5.card-title,
#work p.card-text {
    display: block;
}

#work p.card-text {
    height: 120px;
}

#work h5.card-title {
    height: 50px;
}

/* My Skills */
#skills {
    background-color: hsl(180, 10%, 60%);

}

#skills .fa-circle-plus,
.fa-logo {
    font-size: 30px;
}